<div class='entry'>
  <strong><%= review.name %></strong>
  <span><%= review.title %></span>
  <div>
    <span><%= strip_tags(review.description) %></span>
  </div>
  <div>
    <%= review.created_date %>
  </div>
</div>
